@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


:root{
    --blue:  #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --black: #191826;

    --bold: 700;
    --regular: 400;
}

h2{
    font-weight: var(--bold);
}
p{
    font-weight: var(--regular);
}

.social{
    display: inline-flex;
    align-items: center;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("assets/bg-main-mobile.png");
    background-position:  left;
    overflow-x: hidden;
    background-color: var(--white);
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-div{
    width: 20.4375rem; /*327px*/
    color: var(-black);
    margin-bottom:10.375rem;
}
.header-div h2{
    font-size: 2.5rem;
    letter-spacing: -0.45px;
    line-height: 3rem;
}
.header-div p{
    font-size: 1rem;
    line-height: 1.625rem;
}

main{
    border-radius: 0.75rem;
    width: 100vw;
    background-image: url("/assets/bg-pattern-2.svg");
    background-color: var(--black);
    background-position: top;
    background-repeat: no-repeat;
    color: var(--white);
}
#app{
    height: 26.875rem;
    position: relative;
    top:-6.125rem;
}
.block1{
    display: flex;
    justify-content: center;
}

.block2{
    border-radius: 0.75rem;
    height: 34.125rem;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
}
.block-txt{
    width: 18.875rem; /*302px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.block2 h2{
    font-size: 2rem;
    margin: 0;
}
.block2 p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}
.price span{
    font-weight: var(--bold);
    font-size: 4rem;
    line-height: 3.25rem;
}
.price{
    display: inline-flex;
    align-items: center;
    width: 10.3rem;
    justify-content: space-around;
}

/* buttons */
.buttons-div{
    height: 8.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons-div p{
    font-size: 1.125rem;
    font-weight: var(--bold);
}
button{
    font-size: 1.125rem;
    width: 18.5rem;
    height: 3.8125rem;
    padding: 0;
    border: none;
    border-radius:0.75rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}
#apple{
    color: var(--white);
    background-color: var(--black);
}
#android{
    color: var(--black);
    background-color: var(--white);
}


/* FOOTER STYLING*/
footer{
    width:100vw;
    min-height:18.75rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}
footer p{
    font-size: 1rem;
    line-height: 1.625rem;
}
.footer-box{
    width: 20.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-box p{
    height: 6.5625rem;
}
.social{
    width: 6.25rem;
    display: inline-flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .background-img{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        background-image: url("assets/bg-main-tablet.png");
        background-position:center bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .wrapper{
        width: 43.5rem;
    }
    .background-img{
        display: block;
        position: absolute;
        right: -2.5rem;
        top: -2.5rem;
        z-index: -1;
    }

    .header-div{
        width:43.5rem;
    }
    .header-div p, .header-div h2{
        width: 32.5rem;
    }
    .header-div h2{
        font-size: 4rem;
    }
    .header-div p{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }


    /*main*/
    main{
        max-height: 37.5rem;
        position: relative;
    }
    #app{
        width:16.875rem;
        height: 34.75rem;
        right: 11.25rem;
    }
    
    .block2{
        width: 24.9375rem;
        position: absolute;
        top: 10rem;
        left: 40%;
    }


    /* FOOTER STYLE*/
    footer{
        margin-top: 15rem;
    }
    .footer-box{
        width:43.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .copyright{
        width:22.875rem;
    }
    .social{
        max-width:6.25rem ;
    }
    
}

@media screen and (min-width: 1275px) {
    /* header */
    header{
        background-image: url("assets/bg-main-desktop.png");
        background-position: center bottom;
    }
    .header-div{
        width: 1110px;
    }
    .header-div h2{
        width: 63.4375rem;
        height: 11rem;
        font-size: 5.5rem;
        line-height: 5.5rem;
    }
    .header-div p{
        width: 51.5625rem;
        height: 6.375rem;
        font-size: 1.25rem;
        line-height: 2.125rem;
    }
    /* main */
    main{
        width: 69.375rem;
    }
    #app{
        width:17.5rem;
        height: 37.875rem;
        right: 17.5rem;
    }
    
    .block2{
        width: 27.875rem;
        height: 39.0625rem;
        position: absolute;
        top: 9rem;
        left: 50%;

    }

    .block-txt p{
        font-size: 1.25rem;
        width: 333px;
    }
    .block-txt h2{
        width: 333px;
        font-size: 2.5rem;
    }

    /* buttons */
    button{
        width: 20.8125rem;
        height: 3.8125rem;
    }
    .buttons-div{
        width: 20.8125rem;
    }
    #apple p{
        width: 8.875rem;
    }
    #android p{
        width: 11.175rem;
    }
    button:hover{
        cursor: pointer;
    }
    #apple:hover{
        background-color: var(--blue);
    }
    #android:hover{
        background-color: var(--yellow);
    }   
    .icon:hover{
        cursor: pointer;
        fill: var(--orange);
    }



    /* footer */
    .footer-box{
        width: 69.375rem;
    }
    .footer-box p{
        width: 22.875rem;
        margin: 0;
    }
    .copyright{
        display: inline-flex;
        width: 40.5625rem;
        justify-content: space-between;
        align-items: flex-start;
    }

}